.navbar{
    height: 50px;
    background-color: #e41e1e;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
  }
  
  .navButton{
    margin-left: 20px;
    background-color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
  }